<!DOCTYPE html>
<html>
  <head>
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  Head: <%- include header.ejs%> </br>
  Body: <%- include confirmBody.ejs%> </br>
  Footer: <%- include footer.ejs%>
  </footer>
  </body>
</html>
